*,html,body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    background-color: #333;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    color: #333;
    background: #b0e0ec;
    width: 500px;
    height: 90vh;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.cover {
    padding: 16px;
    text-align: center;
}

.search {
    margin-top: 16px;
}

.search input {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.search button {
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.search button:hover {
    background-color: #bdbdbd;
}

.components1 h1 {
    font-size: 3rem;
}

.ri-search-2-line {
    width: 80%;
}

.components2 {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.components2 img {
    width: 20%;
}

.components2 h4 {
    margin-left: 10px;
}

.error {
    color: red;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.weather {
    display: none;
}